body {
    color: #fff;
}

.daily-tasks {
    position: relative;
    min-height: 100vh;
}

.daily-tasks h2 {
    color: #fff;
}

.daily-tasks ul {
    list-style-type: none;
    padding: 0;
}

.daily-tasks li {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #286E34;
    margin-bottom: 8px;
    background-color: #f2f2f229;
    transition: opacity 0.3s;
}

.daily-tasks li.completed {
    opacity: 0.5;
}

.daily-tasks li.completed .task-text {
    text-decoration: line-through;
}

.daily-tasks li:last-child {
    margin-bottom: 0;
    border-bottom: 2px solid #286E34;
}

.done-btn {
    background-color: #286E34;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.done-btn:hover {
    background-color: #1E4D26;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: darkred;
}

.task-text {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    color: white;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.add-task input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    background-color: #f2f2f229;
    color: #fff;
    font-weight: bold;
}

.add-task-btn {
    background-color: #286E34;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task-btn:hover {
    background-color: #1E4D26;
}

.search-task {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #286E34;
    margin-bottom: 10px;
    background-color: #f2f2f229;
    color: #fff;
    font-weight: bold;
}