.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}



/* Navbar Styles */
nav {
  background-color: #4CAF50;
  /* A nice shade of green */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: white;
  margin: 0;
}

nav div a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav div a:hover {
  color: #def;
}

/* Add a media query for smaller screens */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav div {
    margin-top: 1rem;
  }
}